ExperimentoETL-version-1.json
{"externalControllerServices":{},"flowContents":{"comments":"","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f273acd2-226f-396d-a499-81089bdfaf3d","id":"aa03b310-ef0b-3d8e-8e6c-e02fc40a42fd","name":"ConvertRecord","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"f273acd2-226f-396d-a499-81089bdfaf3d","identifier":"d503d54a-5781-3c23-ac51-4701c5fae3fe","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"f273acd2-226f-396d-a499-81089bdfaf3d","id":"83e2392b-09c9-3c08-a2d2-ef10fb66db38","name":"ExecuteSQL","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f273acd2-226f-396d-a499-81089bdfaf3d","id":"b8441eb0-6101-3b9c-bcda-46177d9a9817","name":"PutS3Object","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"f273acd2-226f-396d-a499-81089bdfaf3d","identifier":"339f38cd-cd65-3703-a7a0-e3f91d82320d","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"f273acd2-226f-396d-a499-81089bdfaf3d","id":"aa03b310-ef0b-3d8e-8e6c-e02fc40a42fd","name":"ConvertRecord","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f273acd2-226f-396d-a499-81089bdfaf3d","id":"cd6f09d5-19be-3aad-8a8b-0f6e2033201d","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"f273acd2-226f-396d-a499-81089bdfaf3d","identifier":"78832112-db45-3271-904c-50ae625cd597","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["nonzero status"],"source":{"comments":"","groupId":"f273acd2-226f-396d-a499-81089bdfaf3d","id":"647a1b5e-dbce-3c64-8f28-08827bc9cc64","name":"ExecuteStreamCommand","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f273acd2-226f-396d-a499-81089bdfaf3d","id":"3e93ec10-e24c-3870-8d19-c67710d3ebd1","name":"ConvertRecord","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"f273acd2-226f-396d-a499-81089bdfaf3d","identifier":"87f67147-40c9-3dc9-8980-41132cd49142","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"f273acd2-226f-396d-a499-81089bdfaf3d","id":"83e2392b-09c9-3c08-a2d2-ef10fb66db38","name":"ExecuteSQL","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f273acd2-226f-396d-a499-81089bdfaf3d","id":"6d5be46a-e8d4-350c-9386-0c99f3ac99f0","name":"PutS3Object","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"f273acd2-226f-396d-a499-81089bdfaf3d","identifier":"91c33a78-7db4-3898-afce-083d88059424","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["output stream"],"source":{"comments":"","groupId":"f273acd2-226f-396d-a499-81089bdfaf3d","id":"647a1b5e-dbce-3c64-8f28-08827bc9cc64","name":"ExecuteStreamCommand","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f273acd2-226f-396d-a499-81089bdfaf3d","id":"fdb2d170-7b6a-35b8-8010-3bff57ae5106","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"f273acd2-226f-396d-a499-81089bdfaf3d","identifier":"fb9c08ce-dd0c-3910-a0ca-7090f6da4679","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"f273acd2-226f-396d-a499-81089bdfaf3d","id":"6d5be46a-e8d4-350c-9386-0c99f3ac99f0","name":"PutS3Object","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f273acd2-226f-396d-a499-81089bdfaf3d","id":"647a1b5e-dbce-3c64-8f28-08827bc9cc64","name":"ExecuteStreamCommand","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"f273acd2-226f-396d-a499-81089bdfaf3d","identifier":"39aee789-9472-3360-92a4-fd2fa9edf461","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"f273acd2-226f-396d-a499-81089bdfaf3d","id":"3e93ec10-e24c-3870-8d19-c67710d3ebd1","name":"ConvertRecord","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f273acd2-226f-396d-a499-81089bdfaf3d","id":"03b28864-b80e-30aa-bac0-6d9c7ecacd00","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"f273acd2-226f-396d-a499-81089bdfaf3d","identifier":"73c71858-6d80-3bac-b24b-5a4ee0b91dfc","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"f273acd2-226f-396d-a499-81089bdfaf3d","id":"b8441eb0-6101-3b9c-bcda-46177d9a9817","name":"PutS3Object","type":"PROCESSOR"},"zIndex":0}],"controllerServices":[{"bundle":{"artifact":"nifi-record-serialization-services-nar","group":"org.apache.nifi","version":"1.15.1"},"comments":"","componentType":"CONTROLLER_SERVICE","controllerServiceApis":[{"bundle":{"artifact":"nifi-standard-services-api-nar","group":"org.apache.nifi","version":"1.15.1"},"type":"org.apache.nifi.serialization.RecordSetWriterFactory"}],"groupIdentifier":"f273acd2-226f-396d-a499-81089bdfaf3d","identifier":"92a93290-fc44-3d6f-9b09-4114cf187597","name":"CSVRecordSetWriter","properties":{"CSV Format":"custom","Quote Character":"\"","Include Header Line":"true","Value Separator":",","Record Separator":"\\n","Escape Character":"\\","Schema Write Strategy":"no-schema","Trim Fields":"true","schema-name":"${schema.name}","schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"displayName":"Schema Branch","identifiesControllerService":false,"name":"schema-branch","sensitive":false},"CSV Format":{"displayName":"CSV Format","identifiesControllerService":false,"name":"CSV Format","sensitive":false},"Quote Character":{"displayName":"Quote Character","identifiesControllerService":false,"name":"Quote Character","sensitive":false},"Include Header Line":{"displayName":"Include Header Line","identifiesControllerService":false,"name":"Include Header Line","sensitive":false},"Value Separator":{"displayName":"Value Separator","identifiesControllerService":false,"name":"Value Separator","sensitive":false},"schema-cache":{"displayName":"Schema Cache","identifiesControllerService":true,"name":"schema-cache","sensitive":false},"Record Separator":{"displayName":"Record Separator","identifiesControllerService":false,"name":"Record Separator","sensitive":false},"Timestamp Format":{"displayName":"Timestamp Format","identifiesControllerService":false,"name":"Timestamp Format","sensitive":false},"Escape Character":{"displayName":"Escape Character","identifiesControllerService":false,"name":"Escape Character","sensitive":false},"Date Format":{"displayName":"Date Format","identifiesControllerService":false,"name":"Date Format","sensitive":false},"Schema Write Strategy":{"displayName":"Schema Write Strategy","identifiesControllerService":false,"name":"Schema Write Strategy","sensitive":false},"Null String":{"displayName":"Null String","identifiesControllerService":false,"name":"Null String","sensitive":false},"Trim Fields":{"displayName":"Trim Fields","identifiesControllerService":false,"name":"Trim Fields","sensitive":false},"schema-name":{"displayName":"Schema Name","identifiesControllerService":false,"name":"schema-name","sensitive":false},"schema-registry":{"displayName":"Schema Registry","identifiesControllerService":true,"name":"schema-registry","sensitive":false},"Time Format":{"displayName":"Time Format","identifiesControllerService":false,"name":"Time Format","sensitive":false},"Comment Marker":{"displayName":"Comment Marker","identifiesControllerService":false,"name":"Comment Marker","sensitive":false},"schema-access-strategy":{"displayName":"Schema Access Strategy","identifiesControllerService":false,"name":"schema-access-strategy","sensitive":false},"schema-protocol-version":{"displayName":"Schema Protocol Version","identifiesControllerService":false,"name":"schema-protocol-version","sensitive":false},"schema-version":{"displayName":"Schema Version","identifiesControllerService":false,"name":"schema-version","sensitive":false},"csvutils-character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"csvutils-character-set","sensitive":false},"schema-text":{"displayName":"Schema Text","identifiesControllerService":false,"name":"schema-text","sensitive":false},"Quote Mode":{"displayName":"Quote Mode","identifiesControllerService":false,"name":"Quote Mode","sensitive":false},"Include Trailing Delimiter":{"displayName":"Include Trailing Delimiter","identifiesControllerService":false,"name":"Include Trailing Delimiter","sensitive":false}},"type":"org.apache.nifi.csv.CSVRecordSetWriter"},{"bundle":{"artifact":"nifi-dbcp-service-nar","group":"org.apache.nifi","version":"1.15.1"},"comments":"","componentType":"CONTROLLER_SERVICE","controllerServiceApis":[{"bundle":{"artifact":"nifi-standard-services-api-nar","group":"org.apache.nifi","version":"1.15.1"},"type":"org.apache.nifi.dbcp.DBCPService"}],"groupIdentifier":"f273acd2-226f-396d-a499-81089bdfaf3d","identifier":"c3ef79d3-1a88-395a-8640-aafd1b36ce00","name":"MySQL","properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.mysql.jdbc.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Database Connection URL":"jdbc:mysql://127.0.0.1:3306/employes","dbcp-time-between-eviction-runs":"-1","Database User":"root","dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/home/henriquesantos/Downloads/nifi-1.15.1/mysql-connector-java-8.0.27/mysql-connector-java-8.0.27","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"displayName":"Kerberos Password","identifiesControllerService":false,"name":"kerberos-password","sensitive":true},"dbcp-min-idle-conns":{"displayName":"Minimum Idle Connections","identifiesControllerService":false,"name":"dbcp-min-idle-conns","sensitive":false},"Max Wait Time":{"displayName":"Max Wait Time","identifiesControllerService":false,"name":"Max Wait Time","sensitive":false},"Database Driver Class Name":{"displayName":"Database Driver Class Name","identifiesControllerService":false,"name":"Database Driver Class Name","sensitive":false},"dbcp-min-evictable-idle-time":{"displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"name":"dbcp-min-evictable-idle-time","sensitive":false},"kerberos-principal":{"displayName":"Kerberos Principal","identifiesControllerService":false,"name":"kerberos-principal","sensitive":false},"Max Total Connections":{"displayName":"Max Total Connections","identifiesControllerService":false,"name":"Max Total Connections","sensitive":false},"kerberos-credentials-service":{"displayName":"Kerberos Credentials Service","identifiesControllerService":true,"name":"kerberos-credentials-service","sensitive":false},"dbcp-max-conn-lifetime":{"displayName":"Max Connection Lifetime","identifiesControllerService":false,"name":"dbcp-max-conn-lifetime","sensitive":false},"Validation-query":{"displayName":"Validation query","identifiesControllerService":false,"name":"Validation-query","sensitive":false},"Database Connection URL":{"displayName":"Database Connection URL","identifiesControllerService":false,"name":"Database Connection URL","sensitive":false},"dbcp-time-between-eviction-runs":{"displayName":"Time Between Eviction Runs","identifiesControllerService":false,"name":"dbcp-time-between-eviction-runs","sensitive":false},"Database User":{"displayName":"Database User","identifiesControllerService":false,"name":"Database User","sensitive":false},"kerberos-user-service":{"displayName":"Kerberos User Service","identifiesControllerService":true,"name":"kerberos-user-service","sensitive":false},"dbcp-soft-min-evictable-idle-time":{"displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"name":"dbcp-soft-min-evictable-idle-time","sensitive":false},"database-driver-locations":{"displayName":"Database Driver Location(s)","identifiesControllerService":false,"name":"database-driver-locations","resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","DIRECTORY","FILE"]},"sensitive":false},"dbcp-max-idle-conns":{"displayName":"Max Idle Connections","identifiesControllerService":false,"name":"dbcp-max-idle-conns","sensitive":false},"Password":{"displayName":"Password","identifiesControllerService":false,"name":"Password","sensitive":true}},"type":"org.apache.nifi.dbcp.DBCPConnectionPool"},{"bundle":{"artifact":"nifi-record-serialization-services-nar","group":"org.apache.nifi","version":"1.15.1"},"comments":"","componentType":"CONTROLLER_SERVICE","controllerServiceApis":[{"bundle":{"artifact":"nifi-standard-services-api-nar","group":"org.apache.nifi","version":"1.15.1"},"type":"org.apache.nifi.serialization.RecordReaderFactory"}],"groupIdentifier":"f273acd2-226f-396d-a499-81089bdfaf3d","identifier":"e6a5525d-e6a1-3cc4-91e8-105812eef5a2","name":"AvroReader","properties":{"schema-name":"${schema.name}","cache-size":"1000","schema-access-strategy":"embedded-avro-schema","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"displayName":"Schema Branch","identifiesControllerService":false,"name":"schema-branch","sensitive":false},"schema-name":{"displayName":"Schema Name","identifiesControllerService":false,"name":"schema-name","sensitive":false},"cache-size":{"displayName":"Cache Size","identifiesControllerService":false,"name":"cache-size","sensitive":false},"schema-registry":{"displayName":"Schema Registry","identifiesControllerService":true,"name":"schema-registry","sensitive":false},"schema-access-strategy":{"displayName":"Schema Access Strategy","identifiesControllerService":false,"name":"schema-access-strategy","sensitive":false},"schema-version":{"displayName":"Schema Version","identifiesControllerService":false,"name":"schema-version","sensitive":false},"schema-text":{"displayName":"Schema Text","identifiesControllerService":false,"name":"schema-text","sensitive":false}},"type":"org.apache.nifi.avro.AvroReader"},{"bundle":{"artifact":"nifi-record-serialization-services-nar","group":"org.apache.nifi","version":"1.15.1"},"comments":"","componentType":"CONTROLLER_SERVICE","controllerServiceApis":[{"bundle":{"artifact":"nifi-standard-services-api-nar","group":"org.apache.nifi","version":"1.15.1"},"type":"org.apache.nifi.serialization.RecordSetWriterFactory"}],"groupIdentifier":"f273acd2-226f-396d-a499-81089bdfaf3d","identifier":"eb0cdc67-c487-3383-8610-5276fab91ac4","name":"CSVRecordSetWriter","properties":{"CSV Format":"custom","Quote Character":"\"","Include Header Line":"true","Value Separator":",","Record Separator":"\\n","Escape Character":"\\","Schema Write Strategy":"no-schema","Trim Fields":"true","schema-name":"${schema.name}","schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"displayName":"Schema Branch","identifiesControllerService":false,"name":"schema-branch","sensitive":false},"CSV Format":{"displayName":"CSV Format","identifiesControllerService":false,"name":"CSV Format","sensitive":false},"Quote Character":{"displayName":"Quote Character","identifiesControllerService":false,"name":"Quote Character","sensitive":false},"Include Header Line":{"displayName":"Include Header Line","identifiesControllerService":false,"name":"Include Header Line","sensitive":false},"Value Separator":{"displayName":"Value Separator","identifiesControllerService":false,"name":"Value Separator","sensitive":false},"schema-cache":{"displayName":"Schema Cache","identifiesControllerService":true,"name":"schema-cache","sensitive":false},"Record Separator":{"displayName":"Record Separator","identifiesControllerService":false,"name":"Record Separator","sensitive":false},"Timestamp Format":{"displayName":"Timestamp Format","identifiesControllerService":false,"name":"Timestamp Format","sensitive":false},"Escape Character":{"displayName":"Escape Character","identifiesControllerService":false,"name":"Escape Character","sensitive":false},"Date Format":{"displayName":"Date Format","identifiesControllerService":false,"name":"Date Format","sensitive":false},"Schema Write Strategy":{"displayName":"Schema Write Strategy","identifiesControllerService":false,"name":"Schema Write Strategy","sensitive":false},"Null String":{"displayName":"Null String","identifiesControllerService":false,"name":"Null String","sensitive":false},"Trim Fields":{"displayName":"Trim Fields","identifiesControllerService":false,"name":"Trim Fields","sensitive":false},"schema-name":{"displayName":"Schema Name","identifiesControllerService":false,"name":"schema-name","sensitive":false},"schema-registry":{"displayName":"Schema Registry","identifiesControllerService":true,"name":"schema-registry","sensitive":false},"Time Format":{"displayName":"Time Format","identifiesControllerService":false,"name":"Time Format","sensitive":false},"Comment Marker":{"displayName":"Comment Marker","identifiesControllerService":false,"name":"Comment Marker","sensitive":false},"schema-access-strategy":{"displayName":"Schema Access Strategy","identifiesControllerService":false,"name":"schema-access-strategy","sensitive":false},"schema-protocol-version":{"displayName":"Schema Protocol Version","identifiesControllerService":false,"name":"schema-protocol-version","sensitive":false},"schema-version":{"displayName":"Schema Version","identifiesControllerService":false,"name":"schema-version","sensitive":false},"csvutils-character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"csvutils-character-set","sensitive":false},"schema-text":{"displayName":"Schema Text","identifiesControllerService":false,"name":"schema-text","sensitive":false},"Quote Mode":{"displayName":"Quote Mode","identifiesControllerService":false,"name":"Quote Mode","sensitive":false},"Include Trailing Delimiter":{"displayName":"Include Trailing Delimiter","identifiesControllerService":false,"name":"Include Trailing Delimiter","sensitive":false}},"type":"org.apache.nifi.csv.CSVRecordSetWriter"},{"bundle":{"artifact":"nifi-record-serialization-services-nar","group":"org.apache.nifi","version":"1.15.1"},"comments":"","componentType":"CONTROLLER_SERVICE","controllerServiceApis":[{"bundle":{"artifact":"nifi-standard-services-api-nar","group":"org.apache.nifi","version":"1.15.1"},"type":"org.apache.nifi.serialization.RecordSetWriterFactory"}],"groupIdentifier":"f273acd2-226f-396d-a499-81089bdfaf3d","identifier":"e7df28a8-c3e7-3d08-8bb4-c4160af0a792","name":"AvroRecordSetWriter","properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-name":"${schema.name}","cache-size":"1000","schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","encoder-pool-size":"32","schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"displayName":"Compression Format","identifiesControllerService":false,"name":"compression-format","sensitive":false},"Schema Write Strategy":{"displayName":"Schema Write Strategy","identifiesControllerService":false,"name":"Schema Write Strategy","sensitive":false},"schema-branch":{"displayName":"Schema Branch","identifiesControllerService":false,"name":"schema-branch","sensitive":false},"schema-name":{"displayName":"Schema Name","identifiesControllerService":false,"name":"schema-name","sensitive":false},"cache-size":{"displayName":"Cache Size","identifiesControllerService":false,"name":"cache-size","sensitive":false},"schema-registry":{"displayName":"Schema Registry","identifiesControllerService":true,"name":"schema-registry","sensitive":false},"schema-access-strategy":{"displayName":"Schema Access Strategy","identifiesControllerService":false,"name":"schema-access-strategy","sensitive":false},"schema-protocol-version":{"displayName":"Schema Protocol Version","identifiesControllerService":false,"name":"schema-protocol-version","sensitive":false},"schema-version":{"displayName":"Schema Version","identifiesControllerService":false,"name":"schema-version","sensitive":false},"encoder-pool-size":{"displayName":"Encoder Pool Size","identifiesControllerService":false,"name":"encoder-pool-size","sensitive":false},"schema-cache":{"displayName":"Schema Cache","identifiesControllerService":true,"name":"schema-cache","sensitive":false},"schema-text":{"displayName":"Schema Text","identifiesControllerService":false,"name":"schema-text","sensitive":false}},"type":"org.apache.nifi.avro.AvroRecordSetWriter"}],"defaultBackPressureDataSizeThreshold":"1 GB","defaultBackPressureObjectThreshold":10000,"defaultFlowFileExpiration":"0 sec","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[{"componentType":"FUNNEL","groupIdentifier":"f273acd2-226f-396d-a499-81089bdfaf3d","identifier":"fdb2d170-7b6a-35b8-8010-3bff57ae5106","position":{"x":416.0,"y":576.0}},{"componentType":"FUNNEL","groupIdentifier":"f273acd2-226f-396d-a499-81089bdfaf3d","identifier":"cd6f09d5-19be-3aad-8a8b-0f6e2033201d","position":{"x":1376.0,"y":360.0}},{"componentType":"FUNNEL","groupIdentifier":"f273acd2-226f-396d-a499-81089bdfaf3d","identifier":"03b28864-b80e-30aa-bac0-6d9c7ecacd00","position":{"x":584.0,"y":360.0}}],"identifier":"f273acd2-226f-396d-a499-81089bdfaf3d","inputPorts":[],"labels":[],"name":"ExperimentoETL","outputPorts":[],"position":{"x":864.0,"y":384.0},"processGroups":[],"processors":[{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-aws-nar","group":"org.apache.nifi","version":"1.15.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"f273acd2-226f-396d-a499-81089bdfaf3d","identifier":"6d5be46a-e8d4-350c-9386-0c99f3ac99f0","name":"PutS3Object","penaltyDuration":"30 sec","position":{"x":720.0,"y":536.0},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","s3-object-remove-tags-prefix":"false","Multipart Upload Max Age Threshold":"7 days","canned-acl":"${s3.permissions.cannedacl}","Signer Override":"Default Signature","Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"${filename}","Multipart Threshold":"5 GB","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"displayName":"Proxy Host","identifiesControllerService":false,"name":"Proxy Host","sensitive":false},"FullControl User List":{"displayName":"FullControl User List","identifiesControllerService":false,"name":"FullControl User List","sensitive":false},"Owner":{"displayName":"Owner","identifiesControllerService":false,"name":"Owner","sensitive":false},"Access Key":{"displayName":"Access Key ID","identifiesControllerService":false,"name":"Access Key","sensitive":true},"proxy-configuration-service":{"displayName":"Proxy Configuration Service","identifiesControllerService":true,"name":"proxy-configuration-service","sensitive":false},"Cache Control":{"displayName":"Cache Control","identifiesControllerService":false,"name":"Cache Control","sensitive":false},"s3-object-remove-tags-prefix":{"displayName":"Remove Tag Prefix","identifiesControllerService":false,"name":"s3-object-remove-tags-prefix","sensitive":false},"Endpoint Override URL":{"displayName":"Endpoint Override URL","identifiesControllerService":false,"name":"Endpoint Override URL","sensitive":false},"Multipart Upload Max Age Threshold":{"displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"name":"Multipart Upload Max Age Threshold","sensitive":false},"canned-acl":{"displayName":"Canned ACL","identifiesControllerService":false,"name":"canned-acl","sensitive":false},"Signer Override":{"displayName":"Signer Override","identifiesControllerService":false,"name":"Signer Override","sensitive":false},"proxy-user-password":{"displayName":"Proxy Password","identifiesControllerService":false,"name":"proxy-user-password","sensitive":true},"Content Type":{"displayName":"Content Type","identifiesControllerService":false,"name":"Content Type","sensitive":false},"Secret Key":{"displayName":"Secret Access Key","identifiesControllerService":false,"name":"Secret Key","sensitive":true},"Write ACL User List":{"displayName":"Write ACL User List","identifiesControllerService":false,"name":"Write ACL User List","sensitive":false},"server-side-encryption":{"displayName":"Server Side Encryption","identifiesControllerService":false,"name":"server-side-encryption","sensitive":false},"Read ACL User List":{"displayName":"Read ACL User List","identifiesControllerService":false,"name":"Read ACL User List","sensitive":false},"encryption-service":{"displayName":"Encryption Service","identifiesControllerService":true,"name":"encryption-service","sensitive":false},"Content Disposition":{"displayName":"Content Disposition","identifiesControllerService":false,"name":"Content Disposition","sensitive":false},"Storage Class":{"displayName":"Storage Class","identifiesControllerService":false,"name":"Storage Class","sensitive":false},"Multipart Part Size":{"displayName":"Multipart Part Size","identifiesControllerService":false,"name":"Multipart Part Size","sensitive":false},"use-chunked-encoding":{"displayName":"Use Chunked Encoding","identifiesControllerService":false,"name":"use-chunked-encoding","sensitive":false},"Object Key":{"displayName":"Object Key","identifiesControllerService":false,"name":"Object Key","sensitive":false},"AWS Credentials Provider service":{"displayName":"AWS Credentials Provider service","identifiesControllerService":true,"name":"AWS Credentials Provider service","sensitive":false},"Multipart Threshold":{"displayName":"Multipart Threshold","identifiesControllerService":false,"name":"Multipart Threshold","sensitive":false},"s3-object-tags-prefix":{"displayName":"Object Tags Prefix","identifiesControllerService":false,"name":"s3-object-tags-prefix","sensitive":false},"SSL Context Service":{"displayName":"SSL Context Service","identifiesControllerService":true,"name":"SSL Context Service","sensitive":false},"Bucket":{"displayName":"Bucket","identifiesControllerService":false,"name":"Bucket","sensitive":false},"Multipart Upload AgeOff Interval":{"displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"name":"Multipart Upload AgeOff Interval","sensitive":false},"use-path-style-access":{"displayName":"Use Path Style Access","identifiesControllerService":false,"name":"use-path-style-access","sensitive":false},"Write Permission User List":{"displayName":"Write Permission User List","identifiesControllerService":false,"name":"Write Permission User List","sensitive":false},"Communications Timeout":{"displayName":"Communications Timeout","identifiesControllerService":false,"name":"Communications Timeout","sensitive":false},"Credentials File":{"displayName":"Credentials File","identifiesControllerService":false,"name":"Credentials File","resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]},"sensitive":false},"Region":{"displayName":"Region","identifiesControllerService":false,"name":"Region","sensitive":false},"Read Permission User List":{"displayName":"Read Permission User List","identifiesControllerService":false,"name":"Read Permission User List","sensitive":false},"Expiration Time Rule":{"displayName":"Expiration Time Rule","identifiesControllerService":false,"name":"Expiration Time Rule","sensitive":false},"proxy-user-name":{"displayName":"Proxy Username","identifiesControllerService":false,"name":"proxy-user-name","sensitive":false},"Proxy Host Port":{"displayName":"Proxy Host Port","identifiesControllerService":false,"name":"Proxy Host Port","sensitive":false},"s3-temporary-directory-multipart":{"displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"name":"s3-temporary-directory-multipart","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.15.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"f273acd2-226f-396d-a499-81089bdfaf3d","identifier":"3e93ec10-e24c-3870-8d19-c67710d3ebd1","name":"ConvertRecord","penaltyDuration":"30 sec","position":{"x":720.0,"y":104.0},"properties":{"record-writer":"92a93290-fc44-3d6f-9b09-4114cf187597","record-reader":"e6a5525d-e6a1-3cc4-91e8-105812eef5a2","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"displayName":"Record Writer","identifiesControllerService":true,"name":"record-writer","sensitive":false},"record-reader":{"displayName":"Record Reader","identifiesControllerService":true,"name":"record-reader","sensitive":false},"include-zero-record-flowfiles":{"displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"name":"include-zero-record-flowfiles","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ConvertRecord","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.15.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"f273acd2-226f-396d-a499-81089bdfaf3d","identifier":"aa03b310-ef0b-3d8e-8e6c-e02fc40a42fd","name":"ConvertRecord","penaltyDuration":"30 sec","position":{"x":-32.0,"y":112.0},"properties":{"record-writer":"eb0cdc67-c487-3383-8610-5276fab91ac4","record-reader":"e6a5525d-e6a1-3cc4-91e8-105812eef5a2","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"displayName":"Record Writer","identifiesControllerService":true,"name":"record-writer","sensitive":false},"record-reader":{"displayName":"Record Reader","identifiesControllerService":true,"name":"record-reader","sensitive":false},"include-zero-record-flowfiles":{"displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"name":"include-zero-record-flowfiles","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ConvertRecord","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["original"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.15.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"f273acd2-226f-396d-a499-81089bdfaf3d","identifier":"647a1b5e-dbce-3c64-8f28-08827bc9cc64","name":"ExecuteStreamCommand","penaltyDuration":"30 sec","position":{"x":720.0,"y":320.0},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Argument Delimiter":";","Ignore STDIN":"false"},"propertyDescriptors":{"argumentsStrategy":{"displayName":"Command Arguments Strategy","identifiesControllerService":false,"name":"argumentsStrategy","sensitive":false},"Max Attribute Length":{"displayName":"Max Attribute Length","identifiesControllerService":false,"name":"Max Attribute Length","sensitive":false},"Command Path":{"displayName":"Command Path","identifiesControllerService":false,"name":"Command Path","sensitive":false},"Working Directory":{"displayName":"Working Directory","identifiesControllerService":false,"name":"Working Directory","sensitive":false},"Output Destination Attribute":{"displayName":"Output Destination Attribute","identifiesControllerService":false,"name":"Output Destination Attribute","sensitive":false},"Argument Delimiter":{"displayName":"Argument Delimiter","identifiesControllerService":false,"name":"Argument Delimiter","sensitive":false},"Ignore STDIN":{"displayName":"Ignore STDIN","identifiesControllerService":false,"name":"Ignore STDIN","sensitive":false},"Command Arguments":{"displayName":"Command Arguments","identifiesControllerService":false,"name":"Command Arguments","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-aws-nar","group":"org.apache.nifi","version":"1.15.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"f273acd2-226f-396d-a499-81089bdfaf3d","identifier":"b8441eb0-6101-3b9c-bcda-46177d9a9817","name":"PutS3Object","penaltyDuration":"30 sec","position":{"x":-32.0,"y":312.0},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","s3-object-remove-tags-prefix":"false","Multipart Upload Max Age Threshold":"7 days","canned-acl":"${s3.permissions.cannedacl}","Signer Override":"Default Signature","Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"${filename}","Multipart Threshold":"5 GB","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"displayName":"Proxy Host","identifiesControllerService":false,"name":"Proxy Host","sensitive":false},"FullControl User List":{"displayName":"FullControl User List","identifiesControllerService":false,"name":"FullControl User List","sensitive":false},"Owner":{"displayName":"Owner","identifiesControllerService":false,"name":"Owner","sensitive":false},"Access Key":{"displayName":"Access Key ID","identifiesControllerService":false,"name":"Access Key","sensitive":true},"proxy-configuration-service":{"displayName":"Proxy Configuration Service","identifiesControllerService":true,"name":"proxy-configuration-service","sensitive":false},"Cache Control":{"displayName":"Cache Control","identifiesControllerService":false,"name":"Cache Control","sensitive":false},"s3-object-remove-tags-prefix":{"displayName":"Remove Tag Prefix","identifiesControllerService":false,"name":"s3-object-remove-tags-prefix","sensitive":false},"Endpoint Override URL":{"displayName":"Endpoint Override URL","identifiesControllerService":false,"name":"Endpoint Override URL","sensitive":false},"Multipart Upload Max Age Threshold":{"displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"name":"Multipart Upload Max Age Threshold","sensitive":false},"canned-acl":{"displayName":"Canned ACL","identifiesControllerService":false,"name":"canned-acl","sensitive":false},"Signer Override":{"displayName":"Signer Override","identifiesControllerService":false,"name":"Signer Override","sensitive":false},"proxy-user-password":{"displayName":"Proxy Password","identifiesControllerService":false,"name":"proxy-user-password","sensitive":true},"Content Type":{"displayName":"Content Type","identifiesControllerService":false,"name":"Content Type","sensitive":false},"Secret Key":{"displayName":"Secret Access Key","identifiesControllerService":false,"name":"Secret Key","sensitive":true},"Write ACL User List":{"displayName":"Write ACL User List","identifiesControllerService":false,"name":"Write ACL User List","sensitive":false},"server-side-encryption":{"displayName":"Server Side Encryption","identifiesControllerService":false,"name":"server-side-encryption","sensitive":false},"Read ACL User List":{"displayName":"Read ACL User List","identifiesControllerService":false,"name":"Read ACL User List","sensitive":false},"encryption-service":{"displayName":"Encryption Service","identifiesControllerService":true,"name":"encryption-service","sensitive":false},"Content Disposition":{"displayName":"Content Disposition","identifiesControllerService":false,"name":"Content Disposition","sensitive":false},"Storage Class":{"displayName":"Storage Class","identifiesControllerService":false,"name":"Storage Class","sensitive":false},"Multipart Part Size":{"displayName":"Multipart Part Size","identifiesControllerService":false,"name":"Multipart Part Size","sensitive":false},"use-chunked-encoding":{"displayName":"Use Chunked Encoding","identifiesControllerService":false,"name":"use-chunked-encoding","sensitive":false},"Object Key":{"displayName":"Object Key","identifiesControllerService":false,"name":"Object Key","sensitive":false},"AWS Credentials Provider service":{"displayName":"AWS Credentials Provider service","identifiesControllerService":true,"name":"AWS Credentials Provider service","sensitive":false},"Multipart Threshold":{"displayName":"Multipart Threshold","identifiesControllerService":false,"name":"Multipart Threshold","sensitive":false},"s3-object-tags-prefix":{"displayName":"Object Tags Prefix","identifiesControllerService":false,"name":"s3-object-tags-prefix","sensitive":false},"SSL Context Service":{"displayName":"SSL Context Service","identifiesControllerService":true,"name":"SSL Context Service","sensitive":false},"Bucket":{"displayName":"Bucket","identifiesControllerService":false,"name":"Bucket","sensitive":false},"Multipart Upload AgeOff Interval":{"displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"name":"Multipart Upload AgeOff Interval","sensitive":false},"use-path-style-access":{"displayName":"Use Path Style Access","identifiesControllerService":false,"name":"use-path-style-access","sensitive":false},"Write Permission User List":{"displayName":"Write Permission User List","identifiesControllerService":false,"name":"Write Permission User List","sensitive":false},"Communications Timeout":{"displayName":"Communications Timeout","identifiesControllerService":false,"name":"Communications Timeout","sensitive":false},"Credentials File":{"displayName":"Credentials File","identifiesControllerService":false,"name":"Credentials File","resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]},"sensitive":false},"Region":{"displayName":"Region","identifiesControllerService":false,"name":"Region","sensitive":false},"Read Permission User List":{"displayName":"Read Permission User List","identifiesControllerService":false,"name":"Read Permission User List","sensitive":false},"Expiration Time Rule":{"displayName":"Expiration Time Rule","identifiesControllerService":false,"name":"Expiration Time Rule","sensitive":false},"proxy-user-name":{"displayName":"Proxy Username","identifiesControllerService":false,"name":"proxy-user-name","sensitive":false},"Proxy Host Port":{"displayName":"Proxy Host Port","identifiesControllerService":false,"name":"Proxy Host Port","sensitive":false},"s3-temporary-directory-multipart":{"displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"name":"s3-temporary-directory-multipart","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.15.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"f273acd2-226f-396d-a499-81089bdfaf3d","identifier":"83e2392b-09c9-3c08-a2d2-ef10fb66db38","name":"ExecuteSQL","penaltyDuration":"30 sec","position":{"x":336.0,"y":-88.0},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"c3ef79d3-1a88-395a-8640-aafd1b36ce00","dbf-user-logical-types":"false","dbf-default-scale":"0","compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM employees;","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"displayName":"Max Rows Per Flow File","identifiesControllerService":false,"name":"esql-max-rows","sensitive":false},"dbf-default-precision":{"displayName":"Default Decimal Precision","identifiesControllerService":false,"name":"dbf-default-precision","sensitive":false},"Max Wait Time":{"displayName":"Max Wait Time","identifiesControllerService":false,"name":"Max Wait Time","sensitive":false},"Database Connection Pooling Service":{"displayName":"Database Connection Pooling Service","identifiesControllerService":true,"name":"Database Connection Pooling Service","sensitive":false},"sql-post-query":{"displayName":"SQL Post-Query","identifiesControllerService":false,"name":"sql-post-query","sensitive":false},"dbf-user-logical-types":{"displayName":"Use Avro Logical Types","identifiesControllerService":false,"name":"dbf-user-logical-types","sensitive":false},"dbf-default-scale":{"displayName":"Default Decimal Scale","identifiesControllerService":false,"name":"dbf-default-scale","sensitive":false},"sql-pre-query":{"displayName":"SQL Pre-Query","identifiesControllerService":false,"name":"sql-pre-query","sensitive":false},"compression-format":{"displayName":"Compression Format","identifiesControllerService":false,"name":"compression-format","sensitive":false},"esql-output-batch-size":{"displayName":"Output Batch Size","identifiesControllerService":false,"name":"esql-output-batch-size","sensitive":false},"esql-fetch-size":{"displayName":"Fetch Size","identifiesControllerService":false,"name":"esql-fetch-size","sensitive":false},"SQL select query":{"displayName":"SQL select query","identifiesControllerService":false,"name":"SQL select query","sensitive":false},"dbf-normalize":{"displayName":"Normalize Table/Column Names","identifiesControllerService":false,"name":"dbf-normalize","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ExecuteSQL","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{}},"flowEncodingVersion":"1.0","parameterContexts":{},"snapshotMetadata":{"author":"anonymous","comments":"","timestamp":1641825028148,"version":1}}