MongoParaS3-version-1.json
{"externalControllerServices":{},"flowContents":{"comments":"","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"d4bbc1ca-4738-3664-aedc-9fb6d9bf68ce","id":"4aa0a7b6-b510-330a-80a5-3ae620858da3","name":"PutS3Object","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"d4bbc1ca-4738-3664-aedc-9fb6d9bf68ce","identifier":"a87b5692-4c46-3adc-b714-1126a24571f3","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"d4bbc1ca-4738-3664-aedc-9fb6d9bf68ce","id":"960065ea-69f2-325a-9f07-abe2d9ac59cb","name":"ConvertAvroToParquet","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"d4bbc1ca-4738-3664-aedc-9fb6d9bf68ce","id":"24bded0f-11b5-3d04-9e9f-b0eb95e39d9f","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"d4bbc1ca-4738-3664-aedc-9fb6d9bf68ce","identifier":"bdd0c8ea-fdd3-30c1-8013-4c4ffe312d24","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"d4bbc1ca-4738-3664-aedc-9fb6d9bf68ce","id":"76e225cd-fd27-3ee7-b0a6-43a6fcc86785","name":"GetMongo","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"d4bbc1ca-4738-3664-aedc-9fb6d9bf68ce","id":"2128a75f-0069-3262-83b0-4194c72e8a35","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"d4bbc1ca-4738-3664-aedc-9fb6d9bf68ce","identifier":"1cb83f67-b844-3b15-9ebe-e615f59c6e3a","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"d4bbc1ca-4738-3664-aedc-9fb6d9bf68ce","id":"4aa0a7b6-b510-330a-80a5-3ae620858da3","name":"PutS3Object","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"d4bbc1ca-4738-3664-aedc-9fb6d9bf68ce","id":"960065ea-69f2-325a-9f07-abe2d9ac59cb","name":"ConvertAvroToParquet","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"d4bbc1ca-4738-3664-aedc-9fb6d9bf68ce","identifier":"3df2ecba-eb62-38cf-a342-2d9239468961","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"d4bbc1ca-4738-3664-aedc-9fb6d9bf68ce","id":"76e225cd-fd27-3ee7-b0a6-43a6fcc86785","name":"GetMongo","type":"PROCESSOR"},"zIndex":0}],"controllerServices":[],"defaultBackPressureDataSizeThreshold":"1 GB","defaultBackPressureObjectThreshold":10000,"defaultFlowFileExpiration":"0 sec","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[{"componentType":"FUNNEL","groupIdentifier":"d4bbc1ca-4738-3664-aedc-9fb6d9bf68ce","identifier":"24bded0f-11b5-3d04-9e9f-b0eb95e39d9f","position":{"x":856.0,"y":-16.0}},{"componentType":"FUNNEL","groupIdentifier":"d4bbc1ca-4738-3664-aedc-9fb6d9bf68ce","identifier":"2128a75f-0069-3262-83b0-4194c72e8a35","position":{"x":864.0,"y":368.0}}],"identifier":"d4bbc1ca-4738-3664-aedc-9fb6d9bf68ce","inputPorts":[],"labels":[],"name":"MongoParaS3","outputPorts":[],"position":{"x":864.0,"y":184.0},"processGroups":[],"processors":[{"autoTerminatedRelationships":["original"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-mongodb-nar","group":"org.apache.nifi","version":"1.15.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"d4bbc1ca-4738-3664-aedc-9fb6d9bf68ce","identifier":"76e225cd-fd27-3ee7-b0a6-43a6fcc86785","name":"GetMongo","penaltyDuration":"30 sec","position":{"x":176.0,"y":-56.0},"properties":{"mongo-charset":"UTF-8","ssl-client-auth":"REQUIRED","mongo-date-format":"yyyy-MM-dd'T'HH:mm:ss'Z'","json-type":"Extended","use-pretty-printing":"true","get-mongo-send-empty":"false"},"propertyDescriptors":{"mongo-client-service":{"displayName":"Client Service","identifiesControllerService":true,"name":"mongo-client-service","sensitive":false},"mongo-charset":{"displayName":"Character Set","identifiesControllerService":false,"name":"mongo-charset","sensitive":false},"ssl-context-service":{"displayName":"SSL Context Service","identifiesControllerService":true,"name":"ssl-context-service","sensitive":false},"Query":{"displayName":"Query","identifiesControllerService":false,"name":"Query","sensitive":false},"ssl-client-auth":{"displayName":"Client Auth","identifiesControllerService":false,"name":"ssl-client-auth","sensitive":false},"mongo-date-format":{"displayName":"Date Format","identifiesControllerService":false,"name":"mongo-date-format","sensitive":false},"json-type":{"displayName":"JSON Type","identifiesControllerService":false,"name":"json-type","sensitive":false},"Projection":{"displayName":"Projection","identifiesControllerService":false,"name":"Projection","sensitive":false},"Mongo Database Name":{"displayName":"Mongo Database Name","identifiesControllerService":false,"name":"Mongo Database Name","sensitive":false},"mongo-query-attribute":{"displayName":"Query Output Attribute","identifiesControllerService":false,"name":"mongo-query-attribute","sensitive":false},"results-per-flowfile":{"displayName":"Results Per FlowFile","identifiesControllerService":false,"name":"results-per-flowfile","sensitive":false},"Mongo URI":{"displayName":"Mongo URI","identifiesControllerService":false,"name":"Mongo URI","sensitive":false},"Batch Size":{"displayName":"Batch Size","identifiesControllerService":false,"name":"Batch Size","sensitive":false},"Mongo Collection Name":{"displayName":"Mongo Collection Name","identifiesControllerService":false,"name":"Mongo Collection Name","sensitive":false},"Sort":{"displayName":"Sort","identifiesControllerService":false,"name":"Sort","sensitive":false},"use-pretty-printing":{"displayName":"Pretty Print Results JSON","identifiesControllerService":false,"name":"use-pretty-printing","sensitive":false},"Limit":{"displayName":"Limit","identifiesControllerService":false,"name":"Limit","sensitive":false},"get-mongo-send-empty":{"displayName":"Send Empty Result","identifiesControllerService":false,"name":"get-mongo-send-empty","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.mongodb.GetMongo","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-parquet-nar","group":"org.apache.nifi","version":"1.15.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"d4bbc1ca-4738-3664-aedc-9fb6d9bf68ce","identifier":"960065ea-69f2-325a-9f07-abe2d9ac59cb","name":"ConvertAvroToParquet","penaltyDuration":"30 sec","position":{"x":728.0,"y":128.0},"properties":{"compression-type":"UNCOMPRESSED"},"propertyDescriptors":{"enable-dictionary-encoding":{"displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"name":"enable-dictionary-encoding","sensitive":false},"page-size":{"displayName":"Page Size","identifiesControllerService":false,"name":"page-size","sensitive":false},"writer-version":{"displayName":"Writer Version","identifiesControllerService":false,"name":"writer-version","sensitive":false},"max-padding-size":{"displayName":"Max Padding Size","identifiesControllerService":false,"name":"max-padding-size","sensitive":false},"compression-type":{"displayName":"Compression Type","identifiesControllerService":false,"name":"compression-type","sensitive":false},"enable-validation":{"displayName":"Enable Validation","identifiesControllerService":false,"name":"enable-validation","sensitive":false},"dictionary-page-size":{"displayName":"Dictionary Page Size","identifiesControllerService":false,"name":"dictionary-page-size","sensitive":false},"row-group-size":{"displayName":"Row Group Size","identifiesControllerService":false,"name":"row-group-size","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.parquet.ConvertAvroToParquet","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-aws-nar","group":"org.apache.nifi","version":"1.15.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"d4bbc1ca-4738-3664-aedc-9fb6d9bf68ce","identifier":"4aa0a7b6-b510-330a-80a5-3ae620858da3","name":"PutS3Object","penaltyDuration":"30 sec","position":{"x":176.0,"y":320.0},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","s3-object-remove-tags-prefix":"false","Multipart Upload Max Age Threshold":"7 days","canned-acl":"${s3.permissions.cannedacl}","Signer Override":"Default Signature","Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"${filename}","Multipart Threshold":"5 GB","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"displayName":"Proxy Host","identifiesControllerService":false,"name":"Proxy Host","sensitive":false},"FullControl User List":{"displayName":"FullControl User List","identifiesControllerService":false,"name":"FullControl User List","sensitive":false},"Owner":{"displayName":"Owner","identifiesControllerService":false,"name":"Owner","sensitive":false},"Access Key":{"displayName":"Access Key ID","identifiesControllerService":false,"name":"Access Key","sensitive":true},"proxy-configuration-service":{"displayName":"Proxy Configuration Service","identifiesControllerService":true,"name":"proxy-configuration-service","sensitive":false},"Cache Control":{"displayName":"Cache Control","identifiesControllerService":false,"name":"Cache Control","sensitive":false},"s3-object-remove-tags-prefix":{"displayName":"Remove Tag Prefix","identifiesControllerService":false,"name":"s3-object-remove-tags-prefix","sensitive":false},"Endpoint Override URL":{"displayName":"Endpoint Override URL","identifiesControllerService":false,"name":"Endpoint Override URL","sensitive":false},"Multipart Upload Max Age Threshold":{"displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"name":"Multipart Upload Max Age Threshold","sensitive":false},"canned-acl":{"displayName":"Canned ACL","identifiesControllerService":false,"name":"canned-acl","sensitive":false},"Signer Override":{"displayName":"Signer Override","identifiesControllerService":false,"name":"Signer Override","sensitive":false},"proxy-user-password":{"displayName":"Proxy Password","identifiesControllerService":false,"name":"proxy-user-password","sensitive":true},"Content Type":{"displayName":"Content Type","identifiesControllerService":false,"name":"Content Type","sensitive":false},"Secret Key":{"displayName":"Secret Access Key","identifiesControllerService":false,"name":"Secret Key","sensitive":true},"Write ACL User List":{"displayName":"Write ACL User List","identifiesControllerService":false,"name":"Write ACL User List","sensitive":false},"server-side-encryption":{"displayName":"Server Side Encryption","identifiesControllerService":false,"name":"server-side-encryption","sensitive":false},"Read ACL User List":{"displayName":"Read ACL User List","identifiesControllerService":false,"name":"Read ACL User List","sensitive":false},"encryption-service":{"displayName":"Encryption Service","identifiesControllerService":true,"name":"encryption-service","sensitive":false},"Content Disposition":{"displayName":"Content Disposition","identifiesControllerService":false,"name":"Content Disposition","sensitive":false},"Storage Class":{"displayName":"Storage Class","identifiesControllerService":false,"name":"Storage Class","sensitive":false},"Multipart Part Size":{"displayName":"Multipart Part Size","identifiesControllerService":false,"name":"Multipart Part Size","sensitive":false},"use-chunked-encoding":{"displayName":"Use Chunked Encoding","identifiesControllerService":false,"name":"use-chunked-encoding","sensitive":false},"Object Key":{"displayName":"Object Key","identifiesControllerService":false,"name":"Object Key","sensitive":false},"AWS Credentials Provider service":{"displayName":"AWS Credentials Provider service","identifiesControllerService":true,"name":"AWS Credentials Provider service","sensitive":false},"Multipart Threshold":{"displayName":"Multipart Threshold","identifiesControllerService":false,"name":"Multipart Threshold","sensitive":false},"s3-object-tags-prefix":{"displayName":"Object Tags Prefix","identifiesControllerService":false,"name":"s3-object-tags-prefix","sensitive":false},"SSL Context Service":{"displayName":"SSL Context Service","identifiesControllerService":true,"name":"SSL Context Service","sensitive":false},"Bucket":{"displayName":"Bucket","identifiesControllerService":false,"name":"Bucket","sensitive":false},"Multipart Upload AgeOff Interval":{"displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"name":"Multipart Upload AgeOff Interval","sensitive":false},"use-path-style-access":{"displayName":"Use Path Style Access","identifiesControllerService":false,"name":"use-path-style-access","sensitive":false},"Write Permission User List":{"displayName":"Write Permission User List","identifiesControllerService":false,"name":"Write Permission User List","sensitive":false},"Communications Timeout":{"displayName":"Communications Timeout","identifiesControllerService":false,"name":"Communications Timeout","sensitive":false},"Credentials File":{"displayName":"Credentials File","identifiesControllerService":false,"name":"Credentials File","resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]},"sensitive":false},"Region":{"displayName":"Region","identifiesControllerService":false,"name":"Region","sensitive":false},"Read Permission User List":{"displayName":"Read Permission User List","identifiesControllerService":false,"name":"Read Permission User List","sensitive":false},"Expiration Time Rule":{"displayName":"Expiration Time Rule","identifiesControllerService":false,"name":"Expiration Time Rule","sensitive":false},"proxy-user-name":{"displayName":"Proxy Username","identifiesControllerService":false,"name":"proxy-user-name","sensitive":false},"Proxy Host Port":{"displayName":"Proxy Host Port","identifiesControllerService":false,"name":"Proxy Host Port","sensitive":false},"s3-temporary-directory-multipart":{"displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"name":"s3-temporary-directory-multipart","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{}},"flowEncodingVersion":"1.0","parameterContexts":{},"snapshotMetadata":{"author":"anonymous","comments":"","timestamp":1641825014975,"version":1}}