TesteMerge-version-1.json
{"externalControllerServices":{},"flowContents":{"comments":"","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"20 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"0d580c0e-f4e7-35da-9b81-163a44ce983b","id":"d10ffd73-5f53-386c-8768-63cbce190c5f","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"0d580c0e-f4e7-35da-9b81-163a44ce983b","identifier":"0fc17aa9-06dc-3e66-aa91-f7cdaa17a585","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"0d580c0e-f4e7-35da-9b81-163a44ce983b","id":"a3ae6e74-3ca0-3284-a092-54550323b917","name":"MergeContent","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"0d580c0e-f4e7-35da-9b81-163a44ce983b","id":"878b751c-c6fe-3c57-b84e-84b1320e7dcb","name":"FetchS3Object","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"0d580c0e-f4e7-35da-9b81-163a44ce983b","identifier":"e5905b0d-0e0c-3286-87b7-5006c832dc67","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"0d580c0e-f4e7-35da-9b81-163a44ce983b","id":"556c93df-6630-39f5-97ad-09f0e6df5840","name":"ListS3","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"0d580c0e-f4e7-35da-9b81-163a44ce983b","id":"2ea1c0eb-74e9-3e5e-83ff-b89f7cae3d3c","name":"PublishKafkaRecord_2_6","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"0d580c0e-f4e7-35da-9b81-163a44ce983b","identifier":"0a9ee6df-73ad-3ab9-b4d5-a59a1f0e8aed","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["merged"],"source":{"comments":"","groupId":"0d580c0e-f4e7-35da-9b81-163a44ce983b","id":"a3ae6e74-3ca0-3284-a092-54550323b917","name":"MergeContent","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"0d580c0e-f4e7-35da-9b81-163a44ce983b","id":"a3ae6e74-3ca0-3284-a092-54550323b917","name":"MergeContent","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"0d580c0e-f4e7-35da-9b81-163a44ce983b","identifier":"affdc1ad-6cfb-3a8d-ae91-5ff492bc5843","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"0d580c0e-f4e7-35da-9b81-163a44ce983b","id":"878b751c-c6fe-3c57-b84e-84b1320e7dcb","name":"FetchS3Object","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"0d580c0e-f4e7-35da-9b81-163a44ce983b","id":"f62e85ce-c83a-3b7f-a73c-f96c98d94896","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"0d580c0e-f4e7-35da-9b81-163a44ce983b","identifier":"26d225ae-8b67-30f6-8276-13337b2ceddd","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"0d580c0e-f4e7-35da-9b81-163a44ce983b","id":"2ea1c0eb-74e9-3e5e-83ff-b89f7cae3d3c","name":"PublishKafkaRecord_2_6","type":"PROCESSOR"},"zIndex":0}],"controllerServices":[{"bundle":{"artifact":"nifi-record-serialization-services-nar","group":"org.apache.nifi","version":"1.15.1"},"comments":"","componentType":"CONTROLLER_SERVICE","controllerServiceApis":[{"bundle":{"artifact":"nifi-standard-services-api-nar","group":"org.apache.nifi","version":"1.15.1"},"type":"org.apache.nifi.serialization.RecordReaderFactory"}],"groupIdentifier":"0d580c0e-f4e7-35da-9b81-163a44ce983b","identifier":"607351ad-3520-382e-a118-dbe03cce7f6d","name":"JsonTreeReader","properties":{"schema-name":"${schema.name}","schema-access-strategy":"infer-schema","schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"displayName":"Timestamp Format","identifiesControllerService":false,"name":"Timestamp Format","sensitive":false},"schema-inference-cache":{"displayName":"Schema Inference Cache","identifiesControllerService":true,"name":"schema-inference-cache","sensitive":false},"Date Format":{"displayName":"Date Format","identifiesControllerService":false,"name":"Date Format","sensitive":false},"schema-branch":{"displayName":"Schema Branch","identifiesControllerService":false,"name":"schema-branch","sensitive":false},"schema-name":{"displayName":"Schema Name","identifiesControllerService":false,"name":"schema-name","sensitive":false},"schema-registry":{"displayName":"Schema Registry","identifiesControllerService":true,"name":"schema-registry","sensitive":false},"Time Format":{"displayName":"Time Format","identifiesControllerService":false,"name":"Time Format","sensitive":false},"schema-access-strategy":{"displayName":"Schema Access Strategy","identifiesControllerService":false,"name":"schema-access-strategy","sensitive":false},"schema-version":{"displayName":"Schema Version","identifiesControllerService":false,"name":"schema-version","sensitive":false},"schema-text":{"displayName":"Schema Text","identifiesControllerService":false,"name":"schema-text","sensitive":false}},"type":"org.apache.nifi.json.JsonTreeReader"},{"bundle":{"artifact":"nifi-record-serialization-services-nar","group":"org.apache.nifi","version":"1.15.1"},"comments":"","componentType":"CONTROLLER_SERVICE","controllerServiceApis":[{"bundle":{"artifact":"nifi-standard-services-api-nar","group":"org.apache.nifi","version":"1.15.1"},"type":"org.apache.nifi.serialization.RecordSetWriterFactory"}],"groupIdentifier":"0d580c0e-f4e7-35da-9b81-163a44ce983b","identifier":"838ed83c-e019-3d46-97b1-080865352ed7","name":"CSVRecordSetWriter","properties":{"CSV Format":"custom","Quote Character":"\"","Include Header Line":"true","Value Separator":",","Record Separator":"\\n","Escape Character":"\\","Schema Write Strategy":"no-schema","Trim Fields":"true","schema-name":"${schema.name}","schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"displayName":"Schema Branch","identifiesControllerService":false,"name":"schema-branch","sensitive":false},"CSV Format":{"displayName":"CSV Format","identifiesControllerService":false,"name":"CSV Format","sensitive":false},"Quote Character":{"displayName":"Quote Character","identifiesControllerService":false,"name":"Quote Character","sensitive":false},"Include Header Line":{"displayName":"Include Header Line","identifiesControllerService":false,"name":"Include Header Line","sensitive":false},"Value Separator":{"displayName":"Value Separator","identifiesControllerService":false,"name":"Value Separator","sensitive":false},"schema-cache":{"displayName":"Schema Cache","identifiesControllerService":true,"name":"schema-cache","sensitive":false},"Record Separator":{"displayName":"Record Separator","identifiesControllerService":false,"name":"Record Separator","sensitive":false},"Timestamp Format":{"displayName":"Timestamp Format","identifiesControllerService":false,"name":"Timestamp Format","sensitive":false},"Escape Character":{"displayName":"Escape Character","identifiesControllerService":false,"name":"Escape Character","sensitive":false},"Date Format":{"displayName":"Date Format","identifiesControllerService":false,"name":"Date Format","sensitive":false},"Schema Write Strategy":{"displayName":"Schema Write Strategy","identifiesControllerService":false,"name":"Schema Write Strategy","sensitive":false},"Null String":{"displayName":"Null String","identifiesControllerService":false,"name":"Null String","sensitive":false},"Trim Fields":{"displayName":"Trim Fields","identifiesControllerService":false,"name":"Trim Fields","sensitive":false},"schema-name":{"displayName":"Schema Name","identifiesControllerService":false,"name":"schema-name","sensitive":false},"schema-registry":{"displayName":"Schema Registry","identifiesControllerService":true,"name":"schema-registry","sensitive":false},"Time Format":{"displayName":"Time Format","identifiesControllerService":false,"name":"Time Format","sensitive":false},"Comment Marker":{"displayName":"Comment Marker","identifiesControllerService":false,"name":"Comment Marker","sensitive":false},"schema-access-strategy":{"displayName":"Schema Access Strategy","identifiesControllerService":false,"name":"schema-access-strategy","sensitive":false},"schema-protocol-version":{"displayName":"Schema Protocol Version","identifiesControllerService":false,"name":"schema-protocol-version","sensitive":false},"schema-version":{"displayName":"Schema Version","identifiesControllerService":false,"name":"schema-version","sensitive":false},"csvutils-character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"csvutils-character-set","sensitive":false},"schema-text":{"displayName":"Schema Text","identifiesControllerService":false,"name":"schema-text","sensitive":false},"Quote Mode":{"displayName":"Quote Mode","identifiesControllerService":false,"name":"Quote Mode","sensitive":false},"Include Trailing Delimiter":{"displayName":"Include Trailing Delimiter","identifiesControllerService":false,"name":"Include Trailing Delimiter","sensitive":false}},"type":"org.apache.nifi.csv.CSVRecordSetWriter"},{"bundle":{"artifact":"nifi-parquet-nar","group":"org.apache.nifi","version":"1.15.1"},"comments":"","componentType":"CONTROLLER_SERVICE","controllerServiceApis":[{"bundle":{"artifact":"nifi-standard-services-api-nar","group":"org.apache.nifi","version":"1.15.1"},"type":"org.apache.nifi.serialization.RecordSetWriterFactory"}],"groupIdentifier":"0d580c0e-f4e7-35da-9b81-163a44ce983b","identifier":"f0d33972-00f7-339d-9705-431e75dde227","name":"ParquetRecordSetWriter","properties":{"avro-write-old-list-structure":"true","Schema Write Strategy":"no-schema","compression-type":"UNCOMPRESSED","schema-name":"${schema.name}","cache-size":"1000","schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-text":"${avro.schema}","avro-add-list-element-records":"true"},"propertyDescriptors":{"schema-branch":{"displayName":"Schema Branch","identifiesControllerService":false,"name":"schema-branch","sensitive":false},"max-padding-size":{"displayName":"Max Padding Size","identifiesControllerService":false,"name":"max-padding-size","sensitive":false},"avro-write-old-list-structure":{"displayName":"Avro Write Old List Structure","identifiesControllerService":false,"name":"avro-write-old-list-structure","sensitive":false},"row-group-size":{"displayName":"Row Group Size","identifiesControllerService":false,"name":"row-group-size","sensitive":false},"schema-cache":{"displayName":"Schema Cache","identifiesControllerService":true,"name":"schema-cache","sensitive":false},"enable-dictionary-encoding":{"displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"name":"enable-dictionary-encoding","sensitive":false},"Schema Write Strategy":{"displayName":"Schema Write Strategy","identifiesControllerService":false,"name":"Schema Write Strategy","sensitive":false},"page-size":{"displayName":"Page Size","identifiesControllerService":false,"name":"page-size","sensitive":false},"writer-version":{"displayName":"Writer Version","identifiesControllerService":false,"name":"writer-version","sensitive":false},"compression-type":{"displayName":"Compression Type","identifiesControllerService":false,"name":"compression-type","sensitive":false},"schema-name":{"displayName":"Schema Name","identifiesControllerService":false,"name":"schema-name","sensitive":false},"cache-size":{"displayName":"Cache Size","identifiesControllerService":false,"name":"cache-size","sensitive":false},"schema-registry":{"displayName":"Schema Registry","identifiesControllerService":true,"name":"schema-registry","sensitive":false},"enable-validation":{"displayName":"Enable Validation","identifiesControllerService":false,"name":"enable-validation","sensitive":false},"dictionary-page-size":{"displayName":"Dictionary Page Size","identifiesControllerService":false,"name":"dictionary-page-size","sensitive":false},"int96-fields":{"displayName":"INT96 Fields","identifiesControllerService":false,"name":"int96-fields","sensitive":false},"schema-access-strategy":{"displayName":"Schema Access Strategy","identifiesControllerService":false,"name":"schema-access-strategy","sensitive":false},"schema-protocol-version":{"displayName":"Schema Protocol Version","identifiesControllerService":false,"name":"schema-protocol-version","sensitive":false},"schema-version":{"displayName":"Schema Version","identifiesControllerService":false,"name":"schema-version","sensitive":false},"schema-text":{"displayName":"Schema Text","identifiesControllerService":false,"name":"schema-text","sensitive":false},"avro-add-list-element-records":{"displayName":"Avro Add List Element Records","identifiesControllerService":false,"name":"avro-add-list-element-records","sensitive":false}},"type":"org.apache.nifi.parquet.ParquetRecordSetWriter"},{"bundle":{"artifact":"nifi-record-serialization-services-nar","group":"org.apache.nifi","version":"1.15.1"},"comments":"","componentType":"CONTROLLER_SERVICE","controllerServiceApis":[{"bundle":{"artifact":"nifi-standard-services-api-nar","group":"org.apache.nifi","version":"1.15.1"},"type":"org.apache.nifi.serialization.RecordSetWriterFactory"}],"groupIdentifier":"0d580c0e-f4e7-35da-9b81-163a44ce983b","identifier":"af960ead-9ee7-3748-8a09-c8364bec5bd3","name":"JsonRecordSetWriter","properties":{"compression-level":"1","Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"displayName":"Schema Branch","identifiesControllerService":false,"name":"schema-branch","sensitive":false},"compression-level":{"displayName":"Compression Level","identifiesControllerService":false,"name":"compression-level","sensitive":false},"schema-cache":{"displayName":"Schema Cache","identifiesControllerService":true,"name":"schema-cache","sensitive":false},"Timestamp Format":{"displayName":"Timestamp Format","identifiesControllerService":false,"name":"Timestamp Format","sensitive":false},"Date Format":{"displayName":"Date Format","identifiesControllerService":false,"name":"Date Format","sensitive":false},"Pretty Print JSON":{"displayName":"Pretty Print JSON","identifiesControllerService":false,"name":"Pretty Print JSON","sensitive":false},"compression-format":{"displayName":"Compression Format","identifiesControllerService":false,"name":"compression-format","sensitive":false},"Schema Write Strategy":{"displayName":"Schema Write Strategy","identifiesControllerService":false,"name":"Schema Write Strategy","sensitive":false},"suppress-nulls":{"displayName":"Suppress Null Values","identifiesControllerService":false,"name":"suppress-nulls","sensitive":false},"output-grouping":{"displayName":"Output Grouping","identifiesControllerService":false,"name":"output-grouping","sensitive":false},"schema-name":{"displayName":"Schema Name","identifiesControllerService":false,"name":"schema-name","sensitive":false},"schema-registry":{"displayName":"Schema Registry","identifiesControllerService":true,"name":"schema-registry","sensitive":false},"Time Format":{"displayName":"Time Format","identifiesControllerService":false,"name":"Time Format","sensitive":false},"schema-access-strategy":{"displayName":"Schema Access Strategy","identifiesControllerService":false,"name":"schema-access-strategy","sensitive":false},"schema-protocol-version":{"displayName":"Schema Protocol Version","identifiesControllerService":false,"name":"schema-protocol-version","sensitive":false},"schema-version":{"displayName":"Schema Version","identifiesControllerService":false,"name":"schema-version","sensitive":false},"schema-text":{"displayName":"Schema Text","identifiesControllerService":false,"name":"schema-text","sensitive":false}},"type":"org.apache.nifi.json.JsonRecordSetWriter"},{"bundle":{"artifact":"nifi-record-serialization-services-nar","group":"org.apache.nifi","version":"1.15.1"},"comments":"","componentType":"CONTROLLER_SERVICE","controllerServiceApis":[{"bundle":{"artifact":"nifi-standard-services-api-nar","group":"org.apache.nifi","version":"1.15.1"},"type":"org.apache.nifi.serialization.RecordReaderFactory"}],"groupIdentifier":"0d580c0e-f4e7-35da-9b81-163a44ce983b","identifier":"0d923f4a-b568-39d1-bb34-fda9e746a282","name":"AvroReader","properties":{"schema-name":"${schema.name}","cache-size":"1000","schema-access-strategy":"embedded-avro-schema","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"displayName":"Schema Branch","identifiesControllerService":false,"name":"schema-branch","sensitive":false},"schema-name":{"displayName":"Schema Name","identifiesControllerService":false,"name":"schema-name","sensitive":false},"cache-size":{"displayName":"Cache Size","identifiesControllerService":false,"name":"cache-size","sensitive":false},"schema-registry":{"displayName":"Schema Registry","identifiesControllerService":true,"name":"schema-registry","sensitive":false},"schema-access-strategy":{"displayName":"Schema Access Strategy","identifiesControllerService":false,"name":"schema-access-strategy","sensitive":false},"schema-version":{"displayName":"Schema Version","identifiesControllerService":false,"name":"schema-version","sensitive":false},"schema-text":{"displayName":"Schema Text","identifiesControllerService":false,"name":"schema-text","sensitive":false}},"type":"org.apache.nifi.avro.AvroReader"},{"bundle":{"artifact":"nifi-record-serialization-services-nar","group":"org.apache.nifi","version":"1.15.1"},"comments":"","componentType":"CONTROLLER_SERVICE","controllerServiceApis":[{"bundle":{"artifact":"nifi-standard-services-api-nar","group":"org.apache.nifi","version":"1.15.1"},"type":"org.apache.nifi.serialization.RecordReaderFactory"}],"groupIdentifier":"0d580c0e-f4e7-35da-9b81-163a44ce983b","identifier":"104396fa-ff05-35e0-b2ca-f373be432161","name":"CSVReader","properties":{"ignore-csv-header":"false","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Escape Character":"\\","Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","csv-reader-csv-parser":"commons-csv","schema-access-strategy":"infer-schema","csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"name":"ignore-csv-header","sensitive":false},"schema-branch":{"displayName":"Schema Branch","identifiesControllerService":false,"name":"schema-branch","sensitive":false},"CSV Format":{"displayName":"CSV Format","identifiesControllerService":false,"name":"CSV Format","sensitive":false},"Quote Character":{"displayName":"Quote Character","identifiesControllerService":false,"name":"Quote Character","sensitive":false},"csvutils-allow-duplicate-header-names":{"displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"name":"csvutils-allow-duplicate-header-names","sensitive":false},"Value Separator":{"displayName":"Value Separator","identifiesControllerService":false,"name":"Value Separator","sensitive":false},"Record Separator":{"displayName":"Record Separator","identifiesControllerService":false,"name":"Record Separator","sensitive":false},"Timestamp Format":{"displayName":"Timestamp Format","identifiesControllerService":false,"name":"Timestamp Format","sensitive":false},"Escape Character":{"displayName":"Escape Character","identifiesControllerService":false,"name":"Escape Character","sensitive":false},"Date Format":{"displayName":"Date Format","identifiesControllerService":false,"name":"Date Format","sensitive":false},"Null String":{"displayName":"Null String","identifiesControllerService":false,"name":"Null String","sensitive":false},"Skip Header Line":{"displayName":"Treat First Line as Header","identifiesControllerService":false,"name":"Skip Header Line","sensitive":false},"Trim Fields":{"displayName":"Trim Fields","identifiesControllerService":false,"name":"Trim Fields","sensitive":false},"schema-name":{"displayName":"Schema Name","identifiesControllerService":false,"name":"schema-name","sensitive":false},"schema-registry":{"displayName":"Schema Registry","identifiesControllerService":true,"name":"schema-registry","sensitive":false},"csv-reader-csv-parser":{"displayName":"CSV Parser","identifiesControllerService":false,"name":"csv-reader-csv-parser","sensitive":false},"Time Format":{"displayName":"Time Format","identifiesControllerService":false,"name":"Time Format","sensitive":false},"Comment Marker":{"displayName":"Comment Marker","identifiesControllerService":false,"name":"Comment Marker","sensitive":false},"schema-access-strategy":{"displayName":"Schema Access Strategy","identifiesControllerService":false,"name":"schema-access-strategy","sensitive":false},"schema-version":{"displayName":"Schema Version","identifiesControllerService":false,"name":"schema-version","sensitive":false},"csvutils-character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"csvutils-character-set","sensitive":false},"schema-text":{"displayName":"Schema Text","identifiesControllerService":false,"name":"schema-text","sensitive":false}},"type":"org.apache.nifi.csv.CSVReader"},{"bundle":{"artifact":"nifi-parquet-nar","group":"org.apache.nifi","version":"1.15.1"},"comments":"","componentType":"CONTROLLER_SERVICE","controllerServiceApis":[{"bundle":{"artifact":"nifi-standard-services-api-nar","group":"org.apache.nifi","version":"1.15.1"},"type":"org.apache.nifi.serialization.RecordReaderFactory"}],"groupIdentifier":"0d580c0e-f4e7-35da-9b81-163a44ce983b","identifier":"11996e48-d985-3871-af22-cbe151cedcca","name":"ParquetReader","properties":{"avro-read-compatibility":"true"},"propertyDescriptors":{"avro-read-compatibility":{"displayName":"Avro Read Compatibility","identifiesControllerService":false,"name":"avro-read-compatibility","sensitive":false}},"type":"org.apache.nifi.parquet.ParquetReader"}],"defaultBackPressureDataSizeThreshold":"1 GB","defaultBackPressureObjectThreshold":10000,"defaultFlowFileExpiration":"0 sec","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[{"componentType":"FUNNEL","groupIdentifier":"0d580c0e-f4e7-35da-9b81-163a44ce983b","identifier":"d10ffd73-5f53-386c-8768-63cbce190c5f","position":{"x":1352.0,"y":160.0}},{"componentType":"FUNNEL","groupIdentifier":"0d580c0e-f4e7-35da-9b81-163a44ce983b","identifier":"f62e85ce-c83a-3b7f-a73c-f96c98d94896","position":{"x":216.0,"y":312.0}}],"identifier":"0d580c0e-f4e7-35da-9b81-163a44ce983b","inputPorts":[],"labels":[],"name":"TesteMerge","outputPorts":[],"position":{"x":320.0,"y":200.0},"processGroups":[],"processors":[{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-aws-nar","group":"org.apache.nifi","version":"1.15.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"PRIMARY","groupIdentifier":"0d580c0e-f4e7-35da-9b81-163a44ce983b","identifier":"556c93df-6630-39f5-97ad-09f0e6df5840","name":"ListS3","penaltyDuration":"30 sec","position":{"x":64.0,"y":-112.0},"properties":{"write-s3-user-metadata":"false","list-type":"1","requester-pays":"false","Listing Batch Size":"100","write-s3-object-tags":"false","Signer Override":"Default Signature","Bucket":"testenifi","Communications Timeout":"30 secs","Region":"us-east-1","min-age":"0 sec","use-versions":"false"},"propertyDescriptors":{"Proxy Host":{"displayName":"Proxy Host","identifiesControllerService":false,"name":"Proxy Host","sensitive":false},"list-type":{"displayName":"List Type","identifiesControllerService":false,"name":"list-type","sensitive":false},"Access Key":{"displayName":"Access Key ID","identifiesControllerService":false,"name":"Access Key","sensitive":true},"prefix":{"displayName":"Prefix","identifiesControllerService":false,"name":"prefix","sensitive":false},"record-writer":{"displayName":"Record Writer","identifiesControllerService":true,"name":"record-writer","sensitive":false},"proxy-configuration-service":{"displayName":"Proxy Configuration Service","identifiesControllerService":true,"name":"proxy-configuration-service","sensitive":false},"Endpoint Override URL":{"displayName":"Endpoint Override URL","identifiesControllerService":false,"name":"Endpoint Override URL","sensitive":false},"requester-pays":{"displayName":"Requester Pays","identifiesControllerService":false,"name":"requester-pays","sensitive":false},"Signer Override":{"displayName":"Signer Override","identifiesControllerService":false,"name":"Signer Override","sensitive":false},"delimiter":{"displayName":"Delimiter","identifiesControllerService":false,"name":"delimiter","sensitive":false},"proxy-user-password":{"displayName":"Proxy Password","identifiesControllerService":false,"name":"proxy-user-password","sensitive":true},"Secret Key":{"displayName":"Secret Access Key","identifiesControllerService":false,"name":"Secret Key","sensitive":true},"min-age":{"displayName":"Minimum Object Age","identifiesControllerService":false,"name":"min-age","sensitive":false},"write-s3-user-metadata":{"displayName":"Write User Metadata","identifiesControllerService":false,"name":"write-s3-user-metadata","sensitive":false},"AWS Credentials Provider service":{"displayName":"AWS Credentials Provider service","identifiesControllerService":true,"name":"AWS Credentials Provider service","sensitive":false},"Listing Batch Size":{"displayName":"Listing Batch Size","identifiesControllerService":false,"name":"Listing Batch Size","sensitive":false},"SSL Context Service":{"displayName":"SSL Context Service","identifiesControllerService":true,"name":"SSL Context Service","sensitive":false},"write-s3-object-tags":{"displayName":"Write Object Tags","identifiesControllerService":false,"name":"write-s3-object-tags","sensitive":false},"Bucket":{"displayName":"Bucket","identifiesControllerService":false,"name":"Bucket","sensitive":false},"Communications Timeout":{"displayName":"Communications Timeout","identifiesControllerService":false,"name":"Communications Timeout","sensitive":false},"Region":{"displayName":"Region","identifiesControllerService":false,"name":"Region","sensitive":false},"Credentials File":{"displayName":"Credentials File","identifiesControllerService":false,"name":"Credentials File","resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]},"sensitive":false},"proxy-user-name":{"displayName":"Proxy Username","identifiesControllerService":false,"name":"proxy-user-name","sensitive":false},"Proxy Host Port":{"displayName":"Proxy Host Port","identifiesControllerService":false,"name":"Proxy Host Port","sensitive":false},"use-versions":{"displayName":"Use Versions","identifiesControllerService":false,"name":"use-versions","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.aws.s3.ListS3","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-kafka-2-6-nar","group":"org.apache.nifi","version":"1.15.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"0d580c0e-f4e7-35da-9b81-163a44ce983b","identifier":"2ea1c0eb-74e9-3e5e-83ff-b89f7cae3d3c","name":"PublishKafkaRecord_2_6","penaltyDuration":"30 sec","position":{"x":64.0,"y":112.0},"properties":{"compression.type":"none","record-writer":"af960ead-9ee7-3748-8a09-c8364bec5bd3","bootstrap.servers":"tureistst201.dimed.com.br:9092","sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"104396fa-ff05-35e0-b2ca-f373be432161","message-header-encoding":"UTF-8","ack.wait.time":"5 secs","use-transactions":"true","acks":"all","security.protocol":"PLAINTEXT","max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":"CUSTOMER_ID","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","topic":"CUSTOMER_RECOMMENDATION"},"propertyDescriptors":{"compression.type":{"displayName":"Compression Type","identifiesControllerService":false,"name":"compression.type","sensitive":false},"attribute-name-regex":{"displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"name":"attribute-name-regex","sensitive":false},"record-writer":{"displayName":"Record Writer","identifiesControllerService":true,"name":"record-writer","sensitive":false},"bootstrap.servers":{"displayName":"Kafka Brokers","identifiesControllerService":false,"name":"bootstrap.servers","sensitive":false},"sasl.kerberos.principal":{"displayName":"Kerberos Principal","identifiesControllerService":false,"name":"sasl.kerberos.principal","sensitive":false},"sasl.kerberos.service.name":{"displayName":"Kerberos Service Name","identifiesControllerService":false,"name":"sasl.kerberos.service.name","sensitive":false},"kerberos-credentials-service":{"displayName":"Kerberos Credentials Service","identifiesControllerService":true,"name":"kerberos-credentials-service","sensitive":false},"partition":{"displayName":"Partition","identifiesControllerService":false,"name":"partition","sensitive":false},"sasl.mechanism":{"displayName":"SASL Mechanism","identifiesControllerService":false,"name":"sasl.mechanism","sensitive":false},"max.block.ms":{"displayName":"Max Metadata Wait Time","identifiesControllerService":false,"name":"max.block.ms","sensitive":false},"record-reader":{"displayName":"Record Reader","identifiesControllerService":true,"name":"record-reader","sensitive":false},"message-header-encoding":{"displayName":"Message Header Encoding","identifiesControllerService":false,"name":"message-header-encoding","sensitive":false},"kerberos-user-service":{"displayName":"Kerberos User Service","identifiesControllerService":true,"name":"kerberos-user-service","sensitive":false},"transactional-id-prefix":{"displayName":"Transactional Id Prefix","identifiesControllerService":false,"name":"transactional-id-prefix","sensitive":false},"ack.wait.time":{"displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"name":"ack.wait.time","sensitive":false},"sasl.username":{"displayName":"Username","identifiesControllerService":false,"name":"sasl.username","sensitive":false},"use-transactions":{"displayName":"Use Transactions","identifiesControllerService":false,"name":"use-transactions","sensitive":false},"acks":{"displayName":"Delivery Guarantee","identifiesControllerService":false,"name":"acks","sensitive":false},"security.protocol":{"displayName":"Security Protocol","identifiesControllerService":false,"name":"security.protocol","sensitive":false},"ssl.context.service":{"displayName":"SSL Context Service","identifiesControllerService":true,"name":"ssl.context.service","sensitive":false},"max.request.size":{"displayName":"Max Request Size","identifiesControllerService":false,"name":"max.request.size","sensitive":false},"sasl.token.auth":{"displayName":"Token Auth","identifiesControllerService":false,"name":"sasl.token.auth","sensitive":false},"message-key-field":{"displayName":"Message Key Field","identifiesControllerService":false,"name":"message-key-field","sensitive":false},"Failure Strategy":{"displayName":"Failure Strategy","identifiesControllerService":false,"name":"Failure Strategy","sensitive":false},"partitioner.class":{"displayName":"Partitioner class","identifiesControllerService":false,"name":"partitioner.class","sensitive":false},"sasl.kerberos.keytab":{"displayName":"Kerberos Keytab","identifiesControllerService":false,"name":"sasl.kerberos.keytab","resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]},"sensitive":false},"topic":{"displayName":"Topic Name","identifiesControllerService":false,"name":"topic","sensitive":false},"sasl.password":{"displayName":"Password","identifiesControllerService":false,"name":"sasl.password","sensitive":true}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["original"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.15.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"0d580c0e-f4e7-35da-9b81-163a44ce983b","identifier":"a3ae6e74-3ca0-3284-a092-54550323b917","name":"MergeContent","penaltyDuration":"30 sec","position":{"x":688.0,"y":136.0},"properties":{"Keep Path":"false","Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Binary Concatenation","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"displayName":"Keep Path","identifiesControllerService":false,"name":"Keep Path","sensitive":false},"Maximum Group Size":{"displayName":"Maximum Group Size","identifiesControllerService":false,"name":"Maximum Group Size","sensitive":false},"Merge Strategy":{"displayName":"Merge Strategy","identifiesControllerService":false,"name":"Merge Strategy","sensitive":false},"Attribute Strategy":{"displayName":"Attribute Strategy","identifiesControllerService":false,"name":"Attribute Strategy","sensitive":false},"Compression Level":{"displayName":"Compression Level","identifiesControllerService":false,"name":"Compression Level","sensitive":false},"Maximum Number of Entries":{"displayName":"Maximum Number of Entries","identifiesControllerService":false,"name":"Maximum Number of Entries","sensitive":false},"Minimum Group Size":{"displayName":"Minimum Group Size","identifiesControllerService":false,"name":"Minimum Group Size","sensitive":false},"Maximum number of Bins":{"displayName":"Maximum number of Bins","identifiesControllerService":false,"name":"Maximum number of Bins","sensitive":false},"Tar Modified Time":{"displayName":"Tar Modified Time","identifiesControllerService":false,"name":"Tar Modified Time","sensitive":false},"Delimiter Strategy":{"displayName":"Delimiter Strategy","identifiesControllerService":false,"name":"Delimiter Strategy","sensitive":false},"Merge Format":{"displayName":"Merge Format","identifiesControllerService":false,"name":"Merge Format","sensitive":false},"Footer File":{"displayName":"Footer","identifiesControllerService":false,"name":"Footer File","resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]},"sensitive":false},"Max Bin Age":{"displayName":"Max Bin Age","identifiesControllerService":false,"name":"Max Bin Age","sensitive":false},"Demarcator File":{"displayName":"Demarcator","identifiesControllerService":false,"name":"Demarcator File","resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]},"sensitive":false},"Correlation Attribute Name":{"displayName":"Correlation Attribute Name","identifiesControllerService":false,"name":"Correlation Attribute Name","sensitive":false},"Header File":{"displayName":"Header","identifiesControllerService":false,"name":"Header File","resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]},"sensitive":false},"mergecontent-metadata-strategy":{"displayName":"Metadata Strategy","identifiesControllerService":false,"name":"mergecontent-metadata-strategy","sensitive":false},"Minimum Number of Entries":{"displayName":"Minimum Number of Entries","identifiesControllerService":false,"name":"Minimum Number of Entries","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.MergeContent","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-aws-nar","group":"org.apache.nifi","version":"1.15.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"0d580c0e-f4e7-35da-9b81-163a44ce983b","identifier":"878b751c-c6fe-3c57-b84e-84b1320e7dcb","name":"FetchS3Object","penaltyDuration":"30 sec","position":{"x":688.0,"y":-88.0},"properties":{"requester-pays":"false","Object Key":"${filename}","Signer Override":"Default Signature","Bucket":"testenifi","Communications Timeout":"30 secs","Region":"us-east-1"},"propertyDescriptors":{"Proxy Host":{"displayName":"Proxy Host","identifiesControllerService":false,"name":"Proxy Host","sensitive":false},"range-length":{"displayName":"Range Length","identifiesControllerService":false,"name":"range-length","sensitive":false},"Access Key":{"displayName":"Access Key ID","identifiesControllerService":false,"name":"Access Key","sensitive":true},"range-start":{"displayName":"Range Start","identifiesControllerService":false,"name":"range-start","sensitive":false},"proxy-configuration-service":{"displayName":"Proxy Configuration Service","identifiesControllerService":true,"name":"proxy-configuration-service","sensitive":false},"Endpoint Override URL":{"displayName":"Endpoint Override URL","identifiesControllerService":false,"name":"Endpoint Override URL","sensitive":false},"requester-pays":{"displayName":"Requester Pays","identifiesControllerService":false,"name":"requester-pays","sensitive":false},"Object Key":{"displayName":"Object Key","identifiesControllerService":false,"name":"Object Key","sensitive":false},"AWS Credentials Provider service":{"displayName":"AWS Credentials Provider service","identifiesControllerService":true,"name":"AWS Credentials Provider service","sensitive":false},"SSL Context Service":{"displayName":"SSL Context Service","identifiesControllerService":true,"name":"SSL Context Service","sensitive":false},"Signer Override":{"displayName":"Signer Override","identifiesControllerService":false,"name":"Signer Override","sensitive":false},"Bucket":{"displayName":"Bucket","identifiesControllerService":false,"name":"Bucket","sensitive":false},"Version":{"displayName":"Version","identifiesControllerService":false,"name":"Version","sensitive":false},"proxy-user-password":{"displayName":"Proxy Password","identifiesControllerService":false,"name":"proxy-user-password","sensitive":true},"Communications Timeout":{"displayName":"Communications Timeout","identifiesControllerService":false,"name":"Communications Timeout","sensitive":false},"Region":{"displayName":"Region","identifiesControllerService":false,"name":"Region","sensitive":false},"Secret Key":{"displayName":"Secret Access Key","identifiesControllerService":false,"name":"Secret Key","sensitive":true},"Credentials File":{"displayName":"Credentials File","identifiesControllerService":false,"name":"Credentials File","resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]},"sensitive":false},"proxy-user-name":{"displayName":"Proxy Username","identifiesControllerService":false,"name":"proxy-user-name","sensitive":false},"Proxy Host Port":{"displayName":"Proxy Host Port","identifiesControllerService":false,"name":"Proxy Host Port","sensitive":false},"encryption-service":{"displayName":"Encryption Service","identifiesControllerService":true,"name":"encryption-service","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{}},"flowEncodingVersion":"1.0","parameterContexts":{},"snapshotMetadata":{"author":"anonymous","comments":"","timestamp":1644843702938,"version":1}}